@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body {
    width: 100%;
}

h1 {
    font-size: 56px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 50px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-size: 12px;
    font-weight: 700;
}

p {
    font-size: 17px;
    color: #465b52;
    padding-bottom: 10px;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal-btn {
    font-size: 18px;
    font-weight: 600;
    padding: 14px 30px;
    color: #000;
    background: #fff;
    border-radius: 4px;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

button.transparent-btn {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}


/* header section */



#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: rgb(195, 254, 235);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-list li {
    list-style: none;
    padding: 0 20px
}

#nav-list li a {
    color: #221515;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s;
}

#nav-list li a:hover,
#nav-list li a.active {
    color: rgb(4, 200, 135);
}

#small-sc {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* home page  */

#hero {
    background-image: url(images/hero4.png);
    background-size: cover;
    background-position: top 25% right 0;
    width: 100%;
    height: 90vh;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: rgb(42, 148, 148);
}

#hero button {
    font-size: 22px;
    margin-top: 20px;
    background-image: url(images/button.png);
    border: 0;
    background-color: transparent;
    color: #088178;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    font-weight: 16px;
    font-weight: 700;
}

/* feature area */

#feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.07);
    border: 1px solid #706f6f;
    border-radius: 4px;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.3s;
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 15px;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 44px rgba(33, 12, 12, 0.2);
}

#feature .fe-box h6 {
    display: inline-block;
    border-radius: 4px;
    padding: 9px 8px 6px 8px;
    color: rgb(232, 229, 226);
    background-color: rgb(92, 57, 57);
}

#feature .fe-box:nth-child(2) h6 {
    background-color: rgb(88, 144, 134);
}

#feature .fe-box:nth-child(3) h6 {
    background-color: rgb(145, 198, 59);
}

#feature .fe-box:nth-child(4) h6 {
    background-color: rgb(80, 44, 75);
}

#feature .fe-box:nth-child(5) h6 {
    background-color: rgb(97, 68, 186);
}

#feature .fe-box:nth-child(6) h6 {
    background-color: rgb(219, 111, 54);
}


/* featured products */


.pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    align-items: center;
    flex-wrap: wrap;
}

#fe-products1 {
    text-align: center;
}

#fe-products1 .pro {
    width: 23%;
    min-width: 270px;
    padding: 12px 14px;
    border: 1px solid #888;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 20px 10px 30px rgba(0, 0, 0, 0.03);
    margin: 10px 0;
    position: relative;
    transition: 0.3s;
}

#fe-products1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.07);
}

#fe-products1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#fe-products1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#fe-products1 .pro .des span {
    color: #a69c9c;
    font-size: 15px;

}

#fe-products1 .pro .des h5 {
    font-size: 17px;
    color: rgb(15, 81, 81);
    padding-top: 10px;
}

#fe-products1 .pro .des i {
    color: rgb(248, 240, 27);
    font-size: 14px;
    padding-top: 5px;
}

#fe-products1 .pro .des h4 {
    padding-top: 7px;
    font-size: 18px;
    font-weight: 700;
    color: #088178;
}


#fe-products1 .pro .cart img {
    width: 40px;
    height: 40px;
    padding: 5px;
    display: inline-block;
    background-color: rgb(209, 251, 251);
    border: 1px solid #99a9ae;
    position: absolute;
    bottom: 16px;
    right: 18px;
}



/* bannerr */

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/banner/b2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 45vh;
}

#banner h4 {
    color: #fff;
    font-size: 19px;
}

#banner h2 {
    color: #fff;
    font-size: 40px;
    padding: 25px 0;
}

#banner h2 span {
    color: rgb(252, 35, 35);
}

#banner button:hover {
    background: #088178;
    color: #fff;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url(images/banner/b17.jpg);
    background-position: center;
    background-size: cover;
    min-width: 590px;
    height: 50vh;
    padding: 30px;
}

#sm-banner .banner-box-2 {
    background-image: url(images/banner/b10.jpg);
}

#sm-banner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

#sm-banner h2 {
    color: #fff;
    font-weight: 600;
    font-size: 37px;
}

#sm-banner span {
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    padding-bottom: 15px;
}

.banner-box:hover button {
    background: #088178;
    border: 1px solid #088178;
}

#banner-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner-3 .banner-box-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url(images/banner/b7.jpg);
    background-position: center;
    background-size: cover;
    min-width: 30%;
    height: 30vh;
    padding: 20px;
    margin-bottom: 20px;
}

#banner-3 h2 {
    font-size: 27px;
    font-weight: 600;
    color: #fff;
}

#banner-3 h3 {
    font-size: 22px;
    font-weight: 500;
    color: #f75151;
}

#banner-3 .bnr-2-3 {
    background-image: url(images/banner/b4.jpg);
}

#banner-3 .bnr-3-3 {
    background-image: url(images/banner/b18.jpg);
}

#news-letter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(images/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#news-letter h4 {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 15px;
}

#news-letter p {
    color: rgb(255, 175, 110);
    font-size: 18px;
    font-weight: 500;
}

#news-letter span {
    color: #31e915;
}

#news-letter .news-letter-form {
    display: flex;
    width: 40%;
}

#news-letter input {
    height: 45px;
    padding: 0 20px;
    font-weight: 500;
    width: 100%;
    font-size: 17px;
    border-radius: 4px;
    border: 1px solid transparent;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#news-letter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* footer section */

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 19px;
    padding-bottom: 20px;
}

footer p {
    font-size: 18px;
    margin-bottom: 10px;
}

footer a {
    font-size: 17px;
    text-decoration: none;
    color: #737b7d;
    margin-bottom: 8px;
    transition: 0.2s;
}

footer a:hover,
footer .follow i:hover {
    color: #282626;
}

footer .follow {
    margin-top: 20px;
}


footer .follow i {
    color: #4b4a4a;
    margin-right: 5px;
    cursor: pointer;
}

footer .row img {
    border: 2px solid #2e6e24;
    border-radius: 8px;
    margin-bottom: 13px;
    cursor: pointer;
}

footer .copy {
    width: 100%;
    text-align: center;
    color: #000000;
}



/* meadia querry */

@media(max-width:770px) {

    .section-p1 {
        padding: 40px;
    }

    #nav-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -210px;
        width: 210px;
        height: 100vh;
        background-color: #f2f2f2;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 15px;
        transition: 0.3s;
    }

    #nav-list.show-nav {
        right: 0px;
    }

    #nav-list li {
        margin-bottom: 25px;
    }

    #small-sc {
        display: flex;
        align-items: center;
    }

    #small-sc i {
        color: #282626;
        font-size: 20px;
        padding-left: 15px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 35px;
        font-size: 23px;
        color: #222;
    }

    #bag {
        display: none;
    }

    #hero {
        background-position: top 30% right 30%;
        height: 70vh;
        padding: 0 80px;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px;
    }

    .pro-container {
        justify-content: center;
    }

    #fe-products1 .pro {
        margin: 20px;
    }

    #banner {
        height: 35vh;
    }

    #banner h2 {
        color: #fff;
        font-size: 30px;
        padding: 15px 0;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 35vh;
    }

    #banner-3 {
        padding: 0 40px;
    }

    .banner-box-3 {
        width: 28%;
        height: 30vh;
        padding: 15px;
        margin-bottom: 20px;
    }

    #news-letter .news-letter-form {
        width: 65%;
    }
}

@media(max-width: 480px) {

    h2 {
        font-size: 33px;
        line-height: 38px;
    }

    h1 {
        font-size: 44px;
    }

    .section-p1 {
        padding: 20px;
    }

    #header {
        padding: 10px 25px;
    }

    #hero {

        background-position: 45%;
        padding: 0 20px;
    }

    #feature .fe-box {
        width: 150px;
        margin: 0 0 15px 0;
    }

    #feature {
        justify-content: space-between;
    }




}